@charset "utf-8";


/* Document Styling */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    min-height: 100%;
    font-family: 'Playfair Display', serif;
    color: white;
    background-image: url('../Images/wallpaper.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}


/* Home icon styling */
a img {
    height: 6%;
    width: auto;
    position: absolute;
    z-index: 1;
}


/* Navigation bar Styling */
nav {
    position: sticky;
    top: 0;
    background-color:#2a1b3d00;
    padding-bottom: 7vh;
    padding-top: 1.5vh;
}


nav ul{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    margin: 0 auto;
}

ul {
    list-style: none;
}


/* Drop-down menu styling */
nav ul li {
    position: relative;
}

nav ul li ul {
    display: none;
    position: absolute;
    border-radius: 0px 0px 12px 12px;
    border: solid 3px white;
    background-color: #2a1b3d;
}

nav ul li ul li {
    padding: 10px;
    width: 100%;
}

nav ul li ul li a {
    display: block;
    width: 100%;
    text-shadow: none;
}

nav ul li ul li a:hover{
    background-color:rgba(200, 200, 200, 0.25);
    text-shadow: none;
}

nav ul li:hover ul {
    display: block;
    z-index: 2;
}


/* Hyperlink Styling */
nav ul li a {
    color: rgba(255, 255, 255, 1.0);
    font-weight: 700;
    text-decoration: none;
    font-size: 1.5rem;
}

nav ul li a:hover, nav ul li a:active {
    color: rgba(255, 255, 255, 1.0);
    text-shadow: rgba(255, 255, 255, 1.0) 2px 2px 30px;
}

nav ul li a:visited {
    color: rgba(255, 255, 255, 1.0);
}